

/* si l'écran de terminal utilisé par le visiteur est un smartphone, alors..redimmensionner automatiquement l'écran et la table */
@media all and (max-width:480px)
{
#table {width:auto}
}

html, body, table, td, {
height : auto;
width : auto;
margin : center;
padding : center;
text-align: center;


}

body { 
	text-align: center;
	font: 95% georgia, sans-serif;
	line-height: 2.5;
	color: #555753; 
	margin: center; 
	padding: center;
	}
p { 
	text-align: center;
	 
	
	}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
    text-align: justify;
	}
h2 { 
	
	text-align: auto;
	font: italic normal 1.6em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: center; 
	color: #7D775C;
	}


a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}





table {
 border-width:1px; 

 border-color:grey;
 width:30%;
 margin-left: auto;
 margin-right: auto;

 }
td { 
 border-width:1px;
 border-style:line; 
 border-color:grey;
 width:10%;
 background: LightSteelBlue;
 }




