

html, body, table, td {
height : 80%;
width : 80%;
margin : auto;
padding : auto;
text-align: center;


}

#conteneur {
position : relative;
margin : auto;
width : center;
height : center;
text-align: center;

}

body { 
	text-align: center;
	font: 80% georgia, sans-serif;
	line-height: 2.5;
	color: #555753; 
	margin: center; 
	padding: center;
	}
p { 
	text-align: center;
	 
	
	}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
	}
h2 { 
	
	text-align: auto;
	font: italic normal 1.6em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: center; 
	color: #7D775C;
	}


a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}





table {
 border-width:1px; 

 border-color:white;
 width:50%;
 margin-left: auto;
 margin-right: auto;

 }
td { 
 border-width:1px;
 border-style:solid; 
 border-color:white;
 width:50%;
 background: LightSteelBlue;
 }




