

html, body, div#colonne1,#colonne1a, div#colonne2,#colonne2a {
height : 75%;
width : 75%;
margin : auto;
padding : auto;
text-align: center;


}

#conteneur {
position : relative;
margin : auto;
width : center;
height : center;
text-align: auto;

}

body { 
	text-align: center;
	font: 75% georgia, sans-serif;
	line-height: 2;
	color: #555753; 
	margin: center; 
	padding: center;
	}
p { 
	text-align: center;
	 
	
	}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
	}
h2 { 
	
	text-align: auto;
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: center; 
	color: #7D775C;
	}


a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}


div#colonne1,#colonne1a {
	float: left;
	width: 180px;
	margin-right: 10px;
	background: lightblue;
}
div#colonne2,#colonne2a {
	float: right;
	width: 300px;
	margin-left: 10px;
	background: burlywood;
}
div#centre,#centrea  {
	margin-left: 170px;
	margin-right: 310px;
	background: khaki;
}




